services:
  bind9:
    image: ubuntu/bind9:edge
    container_name: bind9master-container
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TZ=UTC
    volumes:
      - ./dns-master:/etc/bind
    ports:
      - "${BIND9_PORT}:53/tcp"
      - "${BIND9_PORT}:53/udp"
    networks:
      internal-bind:
        ipv4_address: 10.0.0.2

  bind9slave:
    image: ubuntu/bind9:edge
    container_name: bind9slave-container
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TZ=UTC
    volumes:
      - ./dns-slave:/etc/bind
    ports:
      - "${BIND9SLAVE_PORT}:53/tcp"
      - "${BIND9SLAVE_PORT}:53/udp"
    networks:
      internal-bind:
        ipv4_address: 10.0.0.3

  nginx:
    image: nginx:mainline-alpine-perl
    container_name: nginx-container
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DB_SQLITE_FILE: "/data/database.sqlite"
    volumes:
      - ./nginx/data:/data
      - ./nginx/letsencrypt:/etc/letsencrypt
      - ./nginx/templates:/etc/nginx/templates
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/html:/usr/share/nginx/html #/etc/nginx/html
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nginx/logs:/var/log/nginx
    ports:
      - "${NGINX_HTTP}:80"
      - "${NGINX_HTTPS}:443"
      - "${NGINX_NOPR}:8080"
    networks:
      internal-bind:
        ipv4_address: 10.0.0.4

networks:
  internal-bind:
    name: internal-bind
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24
          gateway: 10.0.0.1